 .u-section-1 {
  background-image: linear-gradient(#2cccc4, #e9f2fa);
}

.u-section-1 .u-sheet-1 {
  min-height: 633px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 906px;
  margin: 60px auto 60px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 513px;
  background-image: linear-gradient(#f1c50e, #db545a);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 30px;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 68px 0 0 23px;
}

.u-section-1 .u-image-1 {
  min-height: 513px;
  background-image: url("images/4a1540768bcae2cf7b8208bd15d8a01827f520c0c54c640ef27c394fc94eee9739c754c2ab1451c97e44652680d1b3b3b1bf63d69d32f20af4871a_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 528px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 48px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 408px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 832px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 590px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 605px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 371px;
  }
} .u-section-2 {
  background-image: linear-gradient(#2cccc4, #77aad9);
}

.u-section-2 .u-sheet-1 {
  min-height: 586px;
}

.u-section-2 .u-image-1 {
  width: 285px;
  height: 285px;
  margin: 139px auto 0 58px;
}

.u-section-2 .u-text-1 {
  font-size: 1.875rem;
  background-image: none;
  margin: -366px 173px 60px 461px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 73px;
    margin-left: 361px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 214px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-left: 34px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-image-1 {
    margin-left: 55px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }
} .u-section-3 {
  background-image: linear-gradient(#478ac9, #333333);
}

.u-section-3 .u-sheet-1 {
  min-height: 464px;
} .u-section-4 {
  background-image: linear-gradient(#333333, #2cccc4);
}

.u-section-4 .u-sheet-1 {
  min-height: 540px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1140px;
  margin: 70px 0 100px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px;
}

.u-section-4 .embed-responsive-1 {
  position: absolute;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 400px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px;
}

.u-section-4 .embed-responsive-2 {
  position: absolute;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .embed-responsive-2 {
    width: 178%;
    left: -39%;
    height: 178%;
    top: -39%;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: auto;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }
}